@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: theme('colors.slate.50');
    --foreground: theme('colors.slate.900');
  }
  .dark {
    --background: theme('colors.slate.950');
    --foreground: theme('colors.slate.50');
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
